<div id="tutor-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card id="tutor-card">
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card-title style="color: black; padding: 10px;">Nick Figgins Tutoring</mat-card-title>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card-subtitle style="color: black;">Looking for a computer science or math tutor? I would be happy to help!</mat-card-subtitle>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <mat-card-content>
                <p style="text-indent: 50px;">
                    Helping students with their studies is something I genuinely enjoy, so much that I try to squeeze it into my schedule outside of working.
                    If you're looking for help learning a programming language, a web development framework, or with high school/early undergraduate mathematics,
                    then I'm your person.
                </p>
                <p style="text-indent: 50px;">
                    A little about my experience: over the summer 2020, I taught week long online bootcamps for middle-school/high-school students through KidzToPros.
                    Students learned about game design and additionally how to mod-minecraft all using Java. At UVA, I've also worked as a Teaching Assistant for Advanced 
                    Software Development (CS 3240). Students in this course learn how to build a website using Django, Postgres, and Heroku for deployment.
                    My experience teaching at these two levels made me realize how much I enjoy helping others learn, and as a result I've been doing it in my free time.
                </p>
                <p style="text-indent: 50px;">
                    Recently, I've been tutoring part-time through GoPeer and really enjoying it, but would like to also allow rates for students who don't have a GoPeer subscription. 
                    My current rate for students will be <b>$25/hr</b>.
                </p>
                <b><h3><b>Summary:</b></h3>
                <ul>
                    <li>$25/hr - payable by credit/debit through YCBM, Venmo, or PayPal</li>
                    <li>Subjects:
                        <ul>
                            <li>
                                Algebra, Geometry, Pre-Calc, AP Calculus, Calc I-III
                            </li>
                            <li>
                                AP Computer Science, Python, C++, Java, JavaScript, and related web frameworks for those listed.
                            </li>
                            <li>
                                Interview preparation/Leetcode Help
                            </li>
                        </ul>
                    </li>
                    <li>Email <a href="mailto:nickfigginstutoring@gmail.com">nickfigginstutoring@gmail.com</a> or fill out the form below to schedule a meeting.</li>
                </ul></b>
                <p>I'll add a review system to my website soon, but for now I welcome any future students to check out 
                <a href="https://gopeer.org/profile/603fc26b7ec0544baa4304c2" target="_blank">
                    my GoPeer profile
                </a>.</p>
                <iframe src="https://nickfiggins.youcanbook.me/?noframe=true&skipHeaderFooter=true" id="ycbmiframenickfiggins" style="width:100%;height:1000px;border:0px;background-color:transparent;" frameborder="0" allowtransparency="true"></iframe><script>window.addEventListener && window.addEventListener("message", function(event){if (event.origin === "https://nickfiggins.youcanbook.me"){document.getElementById("ycbmiframenickfiggins").style.height = event.data + "px";}}, false);</script>
                <!--<div fxLayout="row" fxLayoutAlign="center center">
                    <app-contact type="tutoring"></app-contact>
                </div>-->
            </mat-card-content>
        </div>
    </mat-card>
</div>
